USE [master]
GO
/****** Object:  Database [MiEdificio]    Script Date: 31/5/2023 16:19:06 ******/
CREATE DATABASE [MiEdificio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MiEdificio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MiEdificio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MiEdificio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MiEdificio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiEdificio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MiEdificio]
GO
/****** Object:  Table [dbo].[PERFIL]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[Id_rol] [int] NOT NULL,
	[Id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_PERFIL] PRIMARY KEY CLUSTERED 
(
	[Id_rol] ASC,
	[Id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[Id_permiso] [int] NOT NULL,
	[Descripcion] [nchar](20) NULL,
	[Nombre] [nchar](20) NOT NULL,
 CONSTRAINT [PK_PERMISO] PRIMARY KEY CLUSTERED 
(
	[Id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO_PERMISO]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO_PERMISO](
	[Id_permiso_padre] [int] NOT NULL,
	[Id_permiso_hijo] [int] NOT NULL,
 CONSTRAINT [PK_PERMISO_PERMISO] PRIMARY KEY CLUSTERED 
(
	[Id_permiso_padre] ASC,
	[Id_permiso_hijo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[DNI] [bigint] NOT NULL,
	[Apellido] [nchar](20) NOT NULL,
	[Nombre] [nchar](20) NOT NULL,
	[Fecha_nacimiento] [date] NULL,
	[Nro_departamento] [nchar](3) NULL,
	[Telefono] [nchar](15) NULL,
	[CUIT] [nchar](15) NULL,
	[Fecha_fin_concesion] [date] NULL,
	[Fecha_inicio_concesion] [date] NULL,
	[Nombre_empresa] [nchar](20) NULL,
	[Razon_social] [nchar](20) NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[Id_rol] [int] NOT NULL,
	[Descripcion] [nchar](20) NOT NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[Id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[Username] [nchar](20) NOT NULL,
	[Contraseña] [nchar](20) NOT NULL,
	[Cant_intentos] [int] NULL,
	[Esta_bloqueado] [bit] NULL,
	[Fecha_alta] [nvarchar](10) NULL,
	[Idioma] [nvarchar](10) NULL,
	[Mail] [nchar](30) NULL,
	[DNI] [bigint] NOT NULL,
	[Id_rol] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_PERMISO] FOREIGN KEY([Id_permiso])
REFERENCES [dbo].[PERMISO] ([Id_permiso])
GO
ALTER TABLE [dbo].[PERFIL] CHECK CONSTRAINT [FK_PERFIL_PERMISO]
GO
ALTER TABLE [dbo].[PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_PERFIL_ROL] FOREIGN KEY([Id_rol])
REFERENCES [dbo].[ROL] ([Id_rol])
GO
ALTER TABLE [dbo].[PERFIL] CHECK CONSTRAINT [FK_PERFIL_ROL]
GO
ALTER TABLE [dbo].[PERMISO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISO_PERMISO_PERMISO] FOREIGN KEY([Id_permiso_padre])
REFERENCES [dbo].[PERMISO] ([Id_permiso])
GO
ALTER TABLE [dbo].[PERMISO_PERMISO] CHECK CONSTRAINT [FK_PERMISO_PERMISO_PERMISO]
GO
ALTER TABLE [dbo].[PERMISO_PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISO_PERMISO_PERMISO1] FOREIGN KEY([Id_permiso_hijo])
REFERENCES [dbo].[PERMISO] ([Id_permiso])
GO
ALTER TABLE [dbo].[PERMISO_PERMISO] CHECK CONSTRAINT [FK_PERMISO_PERMISO_PERMISO1]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERSONA] FOREIGN KEY([DNI])
REFERENCES [dbo].[PERSONA] ([DNI])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERSONA]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([Id_rol])
REFERENCES [dbo].[ROL] ([Id_rol])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_HIJOS]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LISTAR_HIJOS]
@idPadre int
as
begin
select pp.Id_permiso_hijo, p.Descripcion, p.Nombre
from PERMISO_PERMISO pp
inner join PERMISO p on p.Id_permiso = pp.Id_permiso_hijo
where pp.Id_permiso_padre = @idPadre
end
GO
/****** Object:  StoredProcedure [dbo].[LISTAR_PERMISOS_X_PERFIL]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LISTAR_PERMISOS_X_PERFIL]
@id int
as
begin
select perm.Id_permiso, perm.Descripcion, perm.Nombre
from PERFIL p
inner join ROL r on p.Id_rol = r.Id_rol
inner join PERMISO perm on perm.Id_permiso = p.Id_permiso
where r.Id_rol = @id
end
GO
/****** Object:  StoredProcedure [dbo].[VALIDAR_CREDENCIAL_USUARIO]    Script Date: 31/5/2023 16:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[VALIDAR_CREDENCIAL_USUARIO]
@Username nvarchar(20), @Password nvarchar(20)
as
begin
select u.Username, per.Nombre, per.Apellido, rol.Id_rol, rol.Descripcion 
from USUARIO u
inner join ROL rol on rol.Id_rol = u.Id_rol
inner join PERSONA per on per.DNI = u.DNI
where u.Username = @Username
AND u.Contraseña = @Password
end
GO
USE [master]
GO
